{{>template/head}}
    {{^guides}}No guides available{{/guides}}
    {{#guides}}
    <article class="wellbeing-guide justify">
        <h2>{{title}}</h2>
        <h3>{{author}} - {{date}}</h3>
        {{#body}}
            <p class="wellbeing-body">{{.}}</p>
        {{/body}}
    </article>
    <hr>
    {{/guides}}
{{>template/foot}}
