{{>template/head}}

<div class="flex-container centre">
    <div class="flex-item">
        <table id="calendar" style="width:100%">
            <thead>
                <tr class="no-bands"><td colspan="7">February</td></tr>
                <tr class="no-bands">
                    <td class="border">Monday</td>
                    <td class="border">Tuesday</td>
                    <td class="border">Wednesday</td>
                    <td class="border">Thursday</td>
                    <td class="border">Friday</td>
                    <td class="border">Saturday</td>
                    <td class="border">Sunday</td>
                </tr>
           </thead>
           <tbody>
                <tr class="no-bands">
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border">1 Feb</td>
                    <td class="border">2 Feb</td>
                    <td class="border">3 Feb</td>
                    <td class="border">4 Feb</td>
                </tr>
                <tr class="no-bands">
                    <td class="border">5 Feb</td>
                    <td class="border">6 Feb</td>
                    <td class="border">7 Feb</td>
                    <td class="border">8 Feb</td>
                    <td class="border">9 Feb</td>
                    <td class="border">10 Feb</td>
                    <td class="border">11 Feb</td>
                </tr>
                <tr class="no-bands">
                    <td class="border">12 Feb</td>
                    <td class="border">13 Feb</td>
                    <td class="border">14 Feb</td>
                    <td class="border">15 Feb</td>
                    <td class="border">16 Feb</td>
                    <td class="border">17 Feb</td>
                    <td class="border">18 Feb</td>
                </tr>
                <tr class="no-bands">
                    <td class="border">19 Feb</td>
                    <td class="border">20 Feb</td>
                    <td class="border">21 Feb</td>
                    <td class="border">22 Feb</td>
                    <td class="border">23 Feb</td>
                    <td class="border">24 Feb</td>
                    <td class="border">25 Feb</td>
                </tr>
                <tr class="no-bands">
                    <td class="border">26 Feb</td>
                    <td class="border">27 Feb</td>
                    <td class="border">28 Feb</td>
                    <td class="border">29 Feb</td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                </tr>
           </tbody>
        </table>
    </div>
    <!--<img src="images/onecalendar.jpg" alt="a placeholder image for a calendar app showing a calendar with pins"/>-->
</div>

{{>template/foot}}
