{{>template/head}}

<div class="flex-container centre">
    <table>
        <thead>
            <tr>
                <th>Friend's name</td>
                <th>Online status</td>
                <th>New messages</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DelightfulHaggis123</td>
                <td style="color:green">Online</td>
                <td>0</td>
            </tr>
            <tr>
                <td>FriendlyMoneyMandolin</td>
                <td style="color:darkred">Offline</td>
                <td><a href="#" class="display-link">1</a></td>
            </tr>
            <tr>
                <td>Black Peach</td>
                <td style="color:darkred">Offline</td>
                <td>0</td>
            </tr>
            <tr>
                <td>Wild Florida</td>
                <td style="color:darkred">Offline</td>
                <td>0</td>
            </tr>
            <tr>
                <td>BiggerTuna</td>
                <td style="color:darkred">Offline</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>

{{>template/foot}}
