{{>template/head}}

    <form action="/profile" method="post">
        <fieldset class="form-section">
            <label for="email">Email address</label>
            <input id="email" name="email" type="text" placeholder="coolguy_92@gmail.com" value="{{u.email}}" required>
        </fieldset>
        <fieldset class="form-section">
            <label for="dob">Date of Birth</label>
            <input id="dob" name="dob" type="text" placeholder="17/06/2003" value="{{u.dob}}" required>
        </fieldset>
        <fieldset class="form-section flex-container centre">
            <input type="submit" value="Update details" class="centre">
        </fieldset>
    </form>
{{>template/foot}}
