{{>template/head}}
    <div>
        <p class="wellbeing-body">This page or feature is still in development. Please <a href="/home">start again</a> or send your suggestions by email.</p>
    </div>
{{>template/foot}}
