<div class="flex-container">
<!-- todo: whichever page is selected, make that icon larger -->
    <a href="/about">Oogway</a>
    <a href="/progress">Progress tracker</a>
    <a href="/home">Home</a>
    <a href="/calendar">Calendar</a>
    <a href="/friends">Social</a>
</div>
