<div class="flex-container centre">
<!-- todo: whichever page is selected, make that icon larger -->
    <a href="/about"><span class="flex-item">Oogway</span></a>
    <a href="/progress"><span class="flex-item">Progress tracker</span></a>
    <a href="/home"><span class="flex-item">Home</span></a>
    <a href="/calendar"><span class="flex-item">Calendar</span></a>
    <a href="/friends"><span class="flex-item">Social</span></a>
</div>
