<div class="flex-container">
<!-- todo: whichever page is selected, make that icon larger -->
    <a href="/about">Oogway</a>
    <a href="/404">Progress tracker</a>
    <a href="/404">Home</a>
    <a href="/404">Calendar</a>
    <a href="/404">Social</a>
</div>
