<div class="flex-container centre">
    <a href="/home"><span class="flex-item">Home</span></a>
    <a href="/profile"><span class="flex-item">{{user}}{{^user}}user{{/user}}</span></a>
    <a href="/todo"><span class="flex-item">Notifications</span></a>
    <a href="/todo"><span class="flex-item">...</span></a>
</div>
